save-exact=true
# Ensures that npm doesn't pull fresh unvetted packages.
min-release-age=7
# Ensures that npm doesn't run scripts during install, through which
# 99% of supply chain attacks are executed.
ignore-scripts=true
# Ensures that npm doesn't allow git dependencies that can bypass above settings.
allow-git=none
